*, *:after, *:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: .5s ease-in-out;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
}
body {
	background: url(../../дз/демошоп/patt.png) repeat;
	font-family: arial;	
}
header {
	background-color: white;
	position: relative;
	height: 80px;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
}
.head {
	position: relative;
	width: 900px;
	left: 50%;
	margin-left: -450px;

}
#logo {
	
	position: relative;
	width: 180px;
	height: 40px;
	float: left;
	top: 10px;
	margin-right: 20px;
}
.menu {
	color: blue;
	box-sizing: border-box;
	width: 600px;
}
.menu>li {
	font-size: 17px;
	position: relative;
	float: left;

}
.menu a {
	display: block;
	border-right: 1px #2c71b8 solid;
	width: 100px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: white;
	color: #2c71b8;
}
.submenu {
	display: none;
    position: absolute;
    width: 200px;
    top: 60px;
    left:  0px; 
}
.submenu li {
    font-size: 15px;
  	position: relative;
  	box-sizing: border-box;
}
.submenu a{
	text-decoration: none; 
	padding: 5px;
	color: white;
	display: block;
	height: 30px;
	width: 200px;
	line-height: 30px;
	text-align: center;
    background-color: #2c71b8;
}
.menu> li:hover >.submenu {
	position: absolute;
 	display: block;
} 
.menu a:hover {
	background-color: #2c71b8;
	color: white;
}
.submenu a:hover {
	background-color: white ;
	color: #2c71b8;
	border: 1px solid #2c71b8;
}
.search {
	width: 170px;
	height: 20px;
	display: block;
	margin-left: 20px; 
	position: relative;
	float: left;
	line-height: 60px;
	text-align: center;

	
}
input[type="search"] {
    border: 1px solid #2c71b8; 
    width: 170px; 
    height: 20px;
    background-color: #dedddd;
 }
   input[type="submit"] {
    width: 20px; 
    height: 20px; 
    border: none; 
    background: url(../../дз/демошоп/search.png) no-repeat; 
    position: absolute;
    top: 25px;
    right: 0px;
   }
   #iconshop {
   	position: relative;
   	top: 20px;
   	margin-left:10px; 
   }
   .head:after, header:after, .search:after, .groups:after, .line:after, .shop:after, h1:after, .products:after {
	content: "";
	display: block;
	clear: both;
}
.animation {
	width: 100%;
	height: 250px;
	border: white 1px solid;
}
.container {
	width: 900px;
	left: 0;
	right: 0;
	margin: 0 auto;
}	
.line {
	background-color: #f7f7f717;
	width: 25%;
	float: left;
	height: 800px;
}
.shop {
	width: 75%;
	
	height: 100%;
	float: right;
	
}
.next {
	width: 8px;
	height: 8px;
}
.groups li{
	float: left;
	font-size: 10px;
	margin-bottom: 10px;
	 
}
.groups a {
	color: white;
}
h1 {
	color: white;
	float: left;
	
}

.sort {
	background-color: #2c71b8;
	color: white;
	position: relative;
	width: 200px;
	left: 21%;
	height: 30px;
	
}


.products {
	width: 200px;
	background-color: #2c71b8;
	color: white;
	border: 1px solid white;
	margin-top: 30px;
	float: left;
	margin: 10px;

}
.img {
	background-color: #ffffff80;
	width: 200px;
	height: 150px;
	text-align: center;
	line-height: 100px;
	top: -5px;
	position: relative;

}
.product1 {
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
}

.square {
	display: block;
	position: relative;
	margin: 5px;
	left: 82%;
	top: 5px;



}
.heart {
	display: block;
	margin: 5px;
	position: relative;
	left: 82%;
	top: 5px;
}
p {
	
	margin: 10px;
}
h2 {

	margin: 10px;
	font-weight: 300;
}
.price {
	font-size: 40px;
	font-weight:500;
	text-align: center;
}
.details {
	width: 150px;
	border: 1px solid white;
	height: 40px;
	text-align: center;
	line-height: 40px;
	box-sizing: border-box;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-bottom: 10px;
	position: relative;
}
.add {
	width: 150px;
	border: 1px solid white;
	height: 40px;
	text-align: center;
	line-height: 40px;
	box-sizing: border-box;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #ffffff80;
	position: relative;
	margin-bottom: 10px;


}
.bucket {
	text-align: center;
	line-height: 40px;
}
.white {
	color: white;
}
.clear {
	clear: both;
}
.bottom {
	font-style: 50px;
	color: white;
	width: 150px;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}
