h1 {
	text-align: center;
}
 ul {
 	
 	padding: 0;
 	margin: 10px;
 }

li {
	list-style: none;
	box-sizing: border-box;
	height: 100px;
	width: 100px;
	border: solid white 2px;
	margin: 10px;
	display: block;
	float:left;

	
}


 
 li:first-child  {
 	background-color: red;
 }

 li:nth-child(2) {
 	background-color: orange;
 }
 li:nth-child(3){
	background-color: yellow;
 }
li:nth-child(4){
	background-color: #09b309;
}

li:nth-child(5){
	background-color: aqua;

}
li:nth-child(6){
	background-color: blue;

}
li:last-child {
	background-color: purple;

}
li:first-child:hover {
	background-color: orange;
	cursor: pointer;
}
li:nth-child(2):hover{
	background-color: yellow;
	cursor: pointer;
}
li:nth-child(3):hover{
	background-color: #09b309;
	cursor: pointer;
}
li:nth-child(4):hover{
	background-color: aqua;
	cursor: pointer;
}
li:nth-child(5):hover{
	background-color: blue;
	cursor: pointer;
}
li:nth-child(6):hover{
	background-color: purple;
	cursor: pointer;
}
li:last-child:hover{
	background-color: red;
	cursor: pointer;
}

ul:after{
	content: "";
	display: block;
	clear: both;
}
@media (max-width: 992px){
	li{
		width: 33.33333333333333%;
		margin: 0;
		margin-bottom: 10px;
		
		
	}
	}
	@media (max-width: 768px){
	li{
		width: 50%;
		margin: 0;
		margin-bottom: 10px;
		
		
		

	}
}

@media (max-width: 425px) {
	li {
		width: 100%;
		margin: 0;
		margin-bottom: 10px;
		
		

	}
}



