h1 {
	text-align: center;
}




li {
	list-style: none;
	height: 100px;
	width: 100px;
	border: solid black 1px;
	margin: 10px;
	
}
 
 #red {
 	background-color: red;
 }

 #orange {
 	background-color: orange;
 }
 #yellow{
	background-color: yellow;
 }
#green {
	background-color: #09b309;
}

#aqua {
	background-color: aqua;

}
#blue{
	background-color: blue;

}
#purple{
	background-color: purple;

}
#red:hover {
	background-color: orange;
	cursor: pointer;
}
#orange:hover{
	background-color: yellow;
	cursor: pointer;
}
#yellow:hover{
	background-color: #09b309;
	cursor: pointer;
}
#green:hover{
	background-color: aqua;
	cursor: pointer;
}
#aqua:hover{
	background-color: blue;
	cursor: pointer;
}
#blue:hover{
	background-color: purple;
	cursor: pointer;
}
#purple:hover{
	background-color: red;
	cursor: pointer;
}