

h1 {
	color: blue;
	text-align: center;
	
}

table{
	width: 100%;
	height: 100%;
	border: black 2px solid;
}

td {
	text-align: center;
	border: grey 1px dotted;
}
.widthcol {
	width: 9%;
}
#widthcol2 {
	width: 27%;	
}
.width5{
	width: 5%;
}
.number {
	left: 70%;
	font-size: 15px;
	width: 20px;
	height: 20px;
	position: relative;
	display: block;
	
	float: left;
}
.elem {
	font-size: 30px;
	font-weight: 700;
	float: left;
	display: block;
	position: relative;

}
.weight {
	text-align: right;
	font-size: 15px;
	

}
.name {
	text-align: left;
}

.clear {
	clear: both;
}
#cellh {
	background-color: pink;
}